@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font: 'Montserrat', sans-serif;
}

.dark-theme {
  --magnolia: #F9F5FF;
  --fogra: #0A0A0A;
  --eerie: #222222;
  --pastel: #42b883;
  --violet-blue: #555dcc;
}

.light-theme {
  font-weight: 600;
  --magnolia: #0A0A0A;
  --fogra: #F9F5FF;
  --eerie: #ededed;
  --pastel: #42b883;
  --violet-blue: #555dcc;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--fogra);
}

::-webkit-scrollbar-thumb {
  background: var(--eerie);
  border-radius: .25ch;
}

body {
  font-family: var(--font);
  background: var(--fogra);
  color: var(--magnolia);
  margin: 0;
  padding: 0;
}

body a {
  color: var(--magnolia);
  text-decoration: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.light-theme #options {
  font-weight: 600;
}

.outter-navbar {
  margin: 0;
  padding: 15px 30px 0px 30px;
}

.outter-navbar .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--eerie);
  border-radius: .5ch;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
}

.outter-navbar .navbar li.brand {
  text-align: center;
  padding: 14px 16px;
  cursor: default;
  font-weight: 600;
}

.outter-navbar .navbar li.brand span:first-child {
  opacity: .75;
}

.outter-navbar .navbar li.brand span:last-child {
  color: var(--violet-blue);
}

.outter-navbar .navbar li {
  float: left;
}

.outter-navbar .navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-top: 2px;
  border-bottom: 2px transparent solid;
}

.outter-navbar .navbar li .options {
  cursor: pointer;
  overflow: hidden;
  margin-right: 40px;
}

.outter-navbar .navbar li .options i {
  color: var(--violet-blue);
}

.outter-navbar .navbar li .options .content {
  cursor: default;
  display: none;
  position: absolute;
  margin-top: 0px;
  margin-left: -42.5px;
  font-size: 16px;
  min-width: 140px;
  z-index: 1;
  background: var(--fogra);
}

.outter-navbar .navbar li .options .content #themeSwitch {
  background: var(--eerie);
  color: var(--magnolia);
  font-family: var(--font);
  outline: none;
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--fogra);
  width: 100%;
}

.outter-navbar .navbar li .options .content #themeSwitch:hover {
  opacity: .75;
}

.outter-navbar .navbar li .options .content .inner {
  margin-top: 5px;
  border-radius: .5ch;
  background-color: var(--fogra);
}

.outter-navbar .navbar li .options .content a, .outter-navbar .navbar li .options .content button {
  background: var(--eerie);
  border-radius: .5ch;
  -webkit-transition: display .3s ease-in-out;
  transition: display .3s ease-in-out;
  border-bottom: 1px solid var(--fogra);
  padding: 12px 14px;
}

.outter-navbar .navbar li .options:hover .content {
  display: block;
}

.outter-navbar .navbar li a:hover:not(.router-link-active) {
  border-radius: .5ch;
  opacity: .75;
}

.outter-navbar .navbar li a.router-link-active {
  opacity: .75;
  border-bottom: 2px solid var(--pastel);
}

.page-container {
  padding: 45px 30px 0px 30px;
}

.login {
  padding: 5% 15% 0 15%;
}

.login .header {
  padding: 0px 15% 0px 15%;
}

.login .header h1 {
  opacity: .8;
}

.login .header p {
  opacity: .5;
}

.login form {
  margin-top: 75px;
}

.login form label {
  display: block;
  width: 100%;
  margin-top: 15px;
  opacity: 1;
}

.login form .container {
  padding: 0 15% 0 15%;
}

.login form input[type=text], .login form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: .5ch;
  outline: none;
  background: var(--magnolia);
  /* if not on focus and media querie is smaller than 768 hide placeholder*/
}

@media (max-width: 768px) {
  .login form input[type=text]:not(:focus)::-webkit-input-placeholder, .login form input[type=password]:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
  }
  .login form input[type=text]:not(:focus):-ms-input-placeholder, .login form input[type=password]:not(:focus):-ms-input-placeholder {
    opacity: 0;
  }
  .login form input[type=text]:not(:focus)::-ms-input-placeholder, .login form input[type=password]:not(:focus)::-ms-input-placeholder {
    opacity: 0;
  }
  .login form input[type=text]:not(:focus)::placeholder, .login form input[type=password]:not(:focus)::placeholder {
    opacity: 0;
  }
}

.login form .btn-cont button {
  font: var(--font);
  font-size: 16px;
  font-weight: 600;
  color: var(--magnolia);
  background: var(--pastel);
  border: none;
  border-radius: .5ch;
  padding: 12px 20px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  width: 40%;
}

@media (max-width: 768px) {
  .login form .btn-cont button {
    width: 100%;
  }
}

.login form .btn-cont button:hover {
  opacity: .9;
}

.researches {
  padding: 5% 10% 0 10%;
}

.researches .header {
  padding: 0px 15% 0px 15%;
}

.researches .header h1 {
  opacity: .8;
}

.researches .header p {
  opacity: .5;
}

.researches .row {
  margin-top: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.researches .row:nth-child(n+3) {
  margin-top: 10%;
}

.researches .row .column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  width: 50%;
}

.researches .row .column p {
  padding: 0 7.5% 0 7.5%;
  opacity: .75;
}
