.navbar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: none;
  padding: 2.5px 15px 0px 30px;
}

.navbar .itself {
  list-style-type: none;
  overflow: hidden;
  background: var(--eerie);
  border-radius: .5ch;
  padding: 0 25px 0 25px;
  -webkit-box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.navbar .itself li {
  float: left;
}

.navbar .itself li .navbar-link {
  text-align: center;
  display: block;
  padding: 14px 16px;
  border-bottom: 0px transparent solid;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.navbar .itself li .navbar-link.router-link-active {
  border-bottom: 2px solid var(--pastel);
}

.navbar .itself li .navbar-link.router-link-active:hover {
  opacity: 1;
}

.navbar .itself li .navbar-link:hover {
  opacity: .75;
}

.navbar .itself li .hidden {
  display: none;
}

.navbar .itself li.navbar-brand {
  text-align: center;
  padding: 14px 16px;
  cursor: default;
  border-bottom: 2px solid transparent;
}

.navbar .itself li.navbar-brand span:first-child {
  opacity: .75;
  font-weight: 500;
}

.navbar .itself li.navbar-brand span:last-child {
  color: var(--violet-blue);
  font-weight: 600;
}

.navbar .itself li .options {
  margin-right: 30px;
}

.navbar .itself li .options:hover {
  opacity: 1;
}

.navbar .itself li .options:hover .content {
  display: block;
}

.navbar .itself li .options .content {
  display: none;
  position: fixed;
  width: 100px;
  margin-left: -40px;
}

.navbar .itself li .options .content .inner {
  margin-top: 18px;
}

.navbar .itself li .options .content button, .navbar .itself li .options .content a {
  display: block;
  width: 100%;
  padding: 12px 16px;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  border: none;
  outline: none;
  border-radius: .5ch;
  margin-top: 5px;
  background: var(--eerie);
  color: var(--magnolia);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.navbar .itself li .options .content button:hover, .navbar .itself li .options .content a:hover {
  opacity: .75;
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 10px 18px;
  border-radius: .5ch;
  border: 2px solid var(--magnolia);
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin: 0 2.5px 0 2.5px;
  background-color: rgba(34, 34, 34, 0.5);
  color: var(--magnolia);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: .75;
}

.btn.disabled, .btn[disabled] {
  pointer-events: none;
  opacity: .6;
  cursor: default;
}

.btn.red {
  background-color: rgba(216, 63, 65, 0.25);
  border-color: #d83f41;
}

.btn.pastel {
  background-color: rgba(66, 184, 131, 0.25);
  border-color: #42b883;
}

.btn.violet-blue {
  background-color: rgba(86, 94, 205, 0.25);
  border-color: #565ecd;
}

.btn.ksu-purple {
  background-color: rgba(128, 67, 203, 0.25);
  border-color: #8043cb;
}

.btn.xsmall {
  font-size: 12px;
}

.btn.small {
  font-size: 14px;
}

.btn.large {
  font-size: 18px;
}

.alert-box {
  position: fixed;
  opacity: 0;
  margin: 0px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background: var(--eerie);
  text-align: center;
  z-index: 1000000;
  padding: 5px 10px;
}

.alert-box .alert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert-box .alert-container .alert-color-bar {
  position: fixed;
  height: calc(100% - 10px);
  left: 10px;
  top: 5px;
  width: 5px;
  border-radius: 2px;
  background: #42b883;
}

.alert-box .alert-container .alert-color-bar.error {
  background: #d83f41;
}

.alert-box .alert-container .alert-color-bar.default {
  background: #42b883;
}

.alert-box .alert-container .alert-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  vertical-align: middle;
}

.alert-box.top {
  top: 100px;
}

.alert-box.bottom {
  bottom: 20px;
}

.alert-box.center {
  right: 50%;
}

.alert-box.top.center {
  -webkit-transform: translate(50%, -100%);
          transform: translate(50%, -100%);
  max-width: calc(100vw - 60px);
}

.alert-box.bottom.center {
  -webkit-transform: translate(50%, 100%);
          transform: translate(50%, 100%);
  max-width: calc(100vw - 60px);
}

.alert-box.right {
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  max-width: calc(100vw - 60px);
  right: 20px;
}

.alert-box.left {
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  max-width: calc(100vw - 60px);
  left: 20px;
}

.alert-box.center.active {
  opacity: .9;
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
}

.page {
  padding: 45px 30px 0px 30px;
}

.page .page-header {
  padding: 5% 5% 0 5%;
}

.page .page-header::after {
  content: "";
  display: table;
  clear: both;
}

.page .page-header .text-box {
  padding: 5px 35px;
}

.page .page-header .text-box .page-title {
  cursor: default;
  opacity: 1;
  font-size: 42px;
}

.page .page-header .text-box .page-title span:first-child {
  color: var(--magnolia);
  font-weight: 500;
}

.page .page-header .text-box .page-title span:last-child {
  color: var(--violet-blue);
}

.page .page-header .text-box .page-description {
  opacity: .75;
  line-height: 1.25;
}

.page .page-header .header-left, .page .page-header .header-right {
  position: relative;
  float: left;
  width: 50%;
}

.page .page-header .header-left {
  height: 350px;
}

.page .page-header .header-left #header-banner {
  opacity: .75;
  z-index: -1;
  -webkit-animation: fadeIn .2s ease-in-out;
          animation: fadeIn .2s ease-in-out;
  -webkit-user-drag: none;
}

.page .page-body {
  padding: 50px 45px 0 45px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: .75;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: .75;
  }
}
