@import "./variables.scss";

.navbar {
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;

    position: relative;

    z-index: 99999;

    .itself {
        position: absolute;
        width: 80%;
        left: 7.5%;
        right: 12.5%;

        list-style-type: none;
        overflow: hidden;

        *:focus {
            outline: none;
        }

        li {
            float: left;
            text-align: center;

            .navbar-link {
                display: block;
                padding: 0.5rem 1.2rem;
                transition: opacity .2s ease-in-out;
                
                &:not(.options):not(.navbar-brand) {
                    opacity: var(--shadow);
                }

                &:not(.navbar-brand).router-link-active {
                    border-bottom: $border-width solid $pastel;
                    opacity: 1;
                }

                &:not(.router-link-active):hover {
                    opacity: 1;
                }

                &.navbar-brand {
                    text-align: center;

                    span:first-child {
                        opacity: var(--shadow);
                    }
                    span:last-child {
                        color: $violet-blue;
                        font-weight: $ff-weight-bold;
                        text-transform: uppercase;
                    }
                }
            }

            .hidden {
                display: none;
            }

            .options {
                position: relative;
                margin-right: 2vw;

                &:hover,&:focus {
                    opacity: 1;
                    .content { display: block; }
                }

                .content {
                    display: none;
                    position: fixed;
                    width: 7vw;
                    margin-left: -2.9vw;

                    .inner { margin-top: 1.15vw;}

                    button, a {
                        display: block;
                        width: 100%;
                        padding: 0.6vw 1vw;
                        transition: opacity .2s ease-in-out;
                        border:none;
                        outline: none;
                        border-radius: $border-radius;
                        margin-top: .3vw;
                        background: var(--eerie);

                        cursor: pointer;

                        &:hover {
                            opacity: var(--shadow);
                        }
                    }
                }
            }
        }
    }
}

.footer {
    &.secondary {
        background-color: var(--duble);
    }
    
    padding: 35px 75px 10px 75px;
    
    &::after {
        content: "";
        display: table;
        clear: both;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            line-height: 2;
    
            a {
                transition: opacity .3s ease-in-out;
                
                span {
                    padding-left: 5px;
                }

                &:hover {
                    opacity: var(--shadow);
                }
            }
        }
    }

    .column {
        .description {
            padding: 0 30px 0 0;
            opacity: var(--strong-shadow);
        }

        .bottom {
            font-style: italic;
            opacity: var(--strong-shadow);
            font-size: 12px;

            .fa-heart {
                color: $red;
            }
        }
    }

    .section-title {
        cursor: default;
        font-size: $ff-size-primary2 / 2;
        font-weight: $ff-weight-semi;
        font-family: $ff-primary;
        padding: 10px 0;
        color: $violet-blue;


        &.brand {
            span:first-child {
                color: var(--magnolia);
            }
            span:last-child {
                color: $violet-blue;
                font-weight: $ff-weight-bold;
                text-transform: uppercase;
            }
        }
    }

    .left-side, .right-side {
        float: left;
    }

    .left-side {
        padding: 0 30px 0 15px;
        width: calc(30% - 45px);
    }

    .right-side {
        padding: 0 15px 0 30px;
        width: calc(70% - 45px);

        .column {
            width: 33.33%;
            float: left;
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.mobile-navbar {
    display: none;
}

.highlight {
    color: $violet-blue;
    font-weight: $ff-weight-semi;
    opacity: 1;
}

.btn {
    padding: 0.375rem 1.9rem;
    
    border-radius: $border-radius;
    outline: none;
    border: $border-width solid transparent;
    
    font-family: $ff-accent;
    font-weight: 500 !important;
    text-align: center;
    display: inline-block;

    user-select: none;
    cursor: pointer;
    
    // Show this mess to remember of using the default class
    background-color: rgb(255, 45, 8);
    color: black;
    //

    transition: opacity .3s ease-in-out;

    &:not(.no-margin) {
        margin: 0 0.2vw 0 0.2vw;
    }

    &.disabled, &[disabled] {
        pointer-events: none;
        opacity: var(--strong-shadow);
        cursor: default;
    }
    
    
    &.solid {
        &:hover {
            opacity: var(--shadow);
        }
    }

    &.ghost {
        &:hover {
            opacity: var(--strong-shadow);
        }
    }

    &.solid {
        color: var(--magnolia);
    }

    &.red {
        color: #fff;
        &.ghost {
            background-color: rgba($red, .75);
            border-color: $red;
        }
        &.solid {
            background-color: $red;
        }
    }

    &.pastel {
        color: #fff;
        &.ghost {
            background-color: rgba($pastel, .75);
            border-color: $pastel;
        }
        &.solid {
            background-color: $pastel;
        }
    }

    &.violet-blue {
        color: #fff;
        &.ghost {
            background-color: rgba($violet-blue, .75);
            border-color: $violet-blue;
        }
        &.solid {
            background-color: $violet-blue;
        }
    }

    &.ksu-yellow {
        color: #121212;
        &.ghost {
            background-color: rgba($ksu-yellow, .75);
            border-color: $ksu-yellow;
        }
        &.solid {
            background-color: $ksu-yellow;
        }
    }

    &.small {
        font-size: $ff-size-last;
    }

    &.medium {
        font-size: $ff-size-secondary;
    }
    
}

.alert {
    position: fixed;
    opacity: 0;
    margin: 0;
    height: 2.5rem;
    border: none;
    border-radius: $border-radius;
    background: var(--eerie);
    text-align: center;
    z-index: 1000000;
    padding: 0.5rem 1rem;

    .alert-container {
        display: flex;
        position: relative;
        height: 2.5rem;
        width: 100%;
        align-items: center;
        justify-content: center;

        .alert-color-bar {
            position: fixed;

            height: 2.5rem;
            left: 0.5rem;
            top: 0.5rem;
            width: 0.25rem;
            border-radius: 2px;

            background: $pastel;

            &.error {
                background: $red;
            }
        }

        .alert-title {
            vertical-align: middle;
            font-size: $ff-size-secondary;
            font-weight: $ff-weight-semi;
        }
    }

    &.top {
        top: 3.5vw;
    }
    &.center {
        right: 50%;
    }
    &.top.center {
        transform: translate(50%, -100%);
        max-width: calc(100vw - 60px);
    }
    &.center.active {
        opacity: var(--shadow);
        transform: translate(50%, 0%);
    }
}

.page {
    padding: 0;

    .page-header {
        padding: 7.5% 6% 0 6%;
        position: relative;
        height: 475px;
        
        &::after {
            content: "";
            display: table;
            clear: both;
        }

        .text-box {
            padding: 10px 35px;

            .page-title {
                cursor: default;
                opacity: 1;
                font-family: $ff-accent;

                span {
                    &.title {
                        color: var(--magnolia);
                    }

                    &.subtitle {
                        color: $violet-blue;
                        font-weight: $ff-weight-bold;
                    }
                }
            }
    
            .page-description {
                opacity: var(--shadow);
            }

            .page-header-button-line {
                margin-top: calc(10% + 10px);
                padding: 5px 0vw;
                height: 30px;

                .label {
                    width: 100%;
                    font-weight: $ff-weight-semi;
                    opacity: var(--strong-shadow);
                }

                .buttons {
                    margin-top: -15px;
                    width: 100%;
                }

                input {
                    border: none;
                    outline: none;

                    padding: 0.475rem 1.9rem;

                    border-radius: $border-radius;
                    background: var(--eerie);
                    color: var(--magnolia);
                    width: 50%;

                    &:focus {
                        outline: .15vw solid $violet-blue;
                    }
                }

                .btn {
                    margin-left: .5vw;
                }
            }
        }

        .header-left, .header-right {
            position: absolute;            
            width: 40%;
            height: 450px;
        }

        .center-y {
            height: 400px;
            display: table;

            .center-it {
                display: table-cell; 
                vertical-align: middle;
            }
        }

        .header-left {
            text-align: center;
            left: 10%;
        }

        .header-right {
            right: 10%;
        }

        .header-banner {
            padding: 12px;
            opacity: var(--shadow);
            z-index: -1;
            animation: fadeIn .2s ease-in-out;
            -webkit-user-drag: none;
            height: 100%;
        }
    }

    .page-body {
        &:nth-child(2) {
            margin-top: 2%;
        }

        padding: 4% 6%;

        &.primary {
            background: var(--fogra);
        }

        &.secondary {
            background: var(--duble);
        }
    }
}

.two-column-row {
    display: flex;
    padding: 1.2vw 0;

    .column {
        flex: 50%;
        width: 50%;
        padding: 1.1vw;

        &:first-child {
            text-align: right;
        }

        &:last-child{
            text-align: left;
        }

        .title {
            color: var(--magnolia);
        }

        .description {
            margin-top: 1.2vw;
            opacity: var(--shadow);
        }
    }

    // resize column to 100% width when on mobile
    @media screen and (max-width: $mobile-max-width) {
        flex-direction: column;
        .column {
            width: 100%;
            flex: 100%;
            text-align: center !important;
        }
    }
}

.graph {
    .chart-container {
        position: relative;
        min-height: 400px;
    }
}

.formulary {

    * {
        font-family: $ff-primary;
    }

    &.half75 {
        width: 50%;
        padding: 0 25%;
    }

    .label {
        display: block;
        width: 100%;
        opacity: var(--strong-shadow);
        font-weight: $ff-weight-semi;
        
        &:not(:first-child) {
            margin-top: .75rem; 
        }
    }

    input {
        border-radius: .4vw;

        width: 100%;
        padding: .4vw 2vw;
        margin-top: .35vw;
        background: var(--fogra);
    }

    .btn-line {
        margin-top: 1rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: var(--shadow);
    }
}
