$red: #d83f41;
$pastel: #42b883;
$violet-blue: #565ecd;
$ksu-yellow: #FEE75C;
$font-family: 'Montserrat', sans-serif;

.light-theme {
    .navbar {
        font-weight: 600;
    }

    .btn {
        color: #fff;
        font-weight: 600;
        
        &.pastel, &.violet-blue, &.ksu-yellow, &.red {
            color: rgb(53, 53, 53);
        }
    }
}

.navbar {
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;

    position: relative;

    z-index: 99999;

    &.navbar-ghost {
        .itself {
            transition: background-color .3s ease;
            background-color: var(--duble);
        }
    }

    .itself {
        position: absolute;
        width: 80%;
        left: 7.5%;
        right: 12.5%;

        list-style-type: none;
        overflow: hidden;

        *:focus {
            outline: none;
        }

        li {
            float: left;
            text-align: center;

            .navbar-link {
                font-size: 0.9vw;
                display: block;
                padding: 0.8vw 1.2vw;
                transition: opacity .2s ease-in-out;
                
                &:not(.options):not(.navbar-brand) {
                    opacity: .75;
                }

                &:not(.navbar-brand).router-link-active {
                    border-bottom: 2px solid var(--pastel);
                    opacity: 1;
                }

                &:not(.router-link-active):hover {
                    opacity: 1;
                }

                &.navbar-brand {
                    text-align: center;
                    font-size: .95vw;

                    span:first-child {
                        opacity: .75;
                        font-weight: 500;
                    }
                    span:last-child {
                        color: var(--violet-blue);
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                }
            }

            .hidden {
                display: none;
            }

            .options {
                position: relative;
                margin-right: 2vw;

                &:hover,&:focus {
                    opacity: 1;
                    .content { display: block; }
                }

                .content {
                    display: none;
                    position: fixed;
                    width: 7vw;
                    margin-left: -2.9vw;

                    .inner { margin-top: 1.15vw;}

                    button, a {
                        font-size: 0.85vw;
                        display: block;
                        width: 100%;
                        padding: 0.6vw 1vw;
                        transition: opacity .2s ease-in-out;
                        border:none;
                        outline: none;
                        border-radius: .4vw;
                        margin-top: .3vw;
                        background: var(--eerie);
                        color: var(--magnolia);
                        font-family: $font-family;
                        cursor: pointer;

                        &:hover {
                            opacity: .75;
                        }
                    }
                }
            }
        }
    }
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;

    text-align: center;
    font-family: $font-family;
    display: inline-block;
    padding: 0.4vw 1vw;
    border-radius: .4vw;
    border: 0.15vw solid var(--magnolia);
    outline: none;
    cursor: pointer;
    font-size: 0.9vw;
    font-weight: 500;

    margin: 0 0.2vw 0 0.2vw;

    background-color: rgba(34, 34, 34, .5);
    color: var(--magnolia);

    transition: opacity .3s ease-in-out;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: .75;
    }

    &.disabled, &[disabled] {
        pointer-events: none;
        opacity: .6;
        cursor: default;
    }

    // Colors
    &.red {
        background-color: rgba($red, .25);
        border-color: $red;
    }

    &.pastel {
        background-color: rgba($pastel, .25);
        border-color: $pastel;
    }

    &.violet-blue {
        background-color: rgba($violet-blue, .25);
        border-color: $violet-blue;
    }

    &.ksu-yellow {
        background-color: rgba($ksu-yellow, .25);
        border-color: $ksu-yellow;
    }

    // Sizes
    &.xsmall {
        font-size: .6vw;
    }

    &.small {
        font-size: .8vw;
    }

    &.large {
        font-size: 1.15vw;
    }

}

.alert-box {
    position: fixed;
    opacity: 0;
    margin: 0;
    height: 2.5vw;
    border: none;
    border-radius: .4vw;
    background: var(--eerie);
    text-align: center;
    z-index: 1000000;
    padding: 0.25vw .5vw;
    font-size: 1.2vw;

    .alert-container {
        display: flex;
        position: relative;
        height: 2.6vw;
        width: 100%;
        
        align-items: center;
        justify-content: center;

        .alert-color-bar {
            position: fixed;

            height: calc(100% - 0.9vw);
            left: 0.9vw;
            top: 0.4vw;
            width: 0.2vw;
            border-radius: 2px;

            background: $pastel;

            &.error {
                background: $red;
            }

            &.default {
                background: $pastel;
            }
        }

        .alert-title {
            font-family: $font-family;
            font-size: .85vw;
            vertical-align:middle;
        }
    }

    &.top {
        top: 3.5vw;
    }
    &.center {
        right: 50%;
    }
    &.top.center {
        transform: translate(50%, -100%);
        max-width: calc(100vw - 60px);
    }
    &.bottom.center {
        transform: translate(50%, 100%);
        max-width: calc(100vw - 60px);
    }
    &.center.active {
        opacity: .9;
        transform: translate(50%, 0%);
    }
}

.page {
    padding: 0;

    .page-header {
        padding: 7.5% 6% 0 6%;
        position: relative;
        height: 25vw;
        
        &::after {
            content: "";
            display: table;
            clear: both;
        }

        .text-box {
            padding: .4vw 2.5vw;

            .page-title {
                width: 100%;
                cursor: default;
                opacity: 1;
                font-family: 'Work Sans', sans-serif;

                span {
                    &.title {
                        color: var(--magnolia);
                        font-weight: 500;
                    }

                    &.subtitle {
                        color: var(--violet-blue);
                        font-weight: 900;
                    }
                }
            }
    
            .page-description {
                opacity: .75;
                line-height: 1.25;
            }

            .page-header-button-line {
                margin-top: calc(10% + .8vw);
                padding: .8vw 0vw;
                font-family: 'Montserrat', sans-serif;
                height: 3vw;

                * {
                    font-family: 'Montserrat', sans-serif;
                }

                .label {
                    width: 100%;
                    opacity: .6;
                    font-weight: 600;
                    font-size: 0.85vw;
                }

                .buttons {
                    width: 100%;
                }

                input {
                    border: none;
                    outline: none;
                    padding: 0.6vw 1vw;
                    border-radius: .4vw;
                    font-weight: 600;
                    background: var(--eerie);
                    color: var(--magnolia);
                    font-size: 0.7vw;
                    font-weight: 500;
                
                    margin: 0 0.2vw 0 0.2vw;

                    &:focus {
                        outline: .15vw solid var(--violet-blue);
                    }
                }
            }
        }

        .header-left, .header-right {
            position: absolute;            
            width: 40%;
            height: 25vw;
        }

        .center-y {
            height: 22vw;
            display: table;

            .center-it {
                display: table-cell; 
                vertical-align: middle;
            }
        }

        .header-left {
            left: 10%;
        }

        .header-right {
            right: 10%;
        }

        .header-banner {
            padding: 1.2vw;
            opacity: .75;
            z-index: -1;
            //animation: fadeIn .2s ease-in-out;
            -webkit-user-drag: none;
            float: right;
            height: 100%;
        }
    }

    .page-body {
        &:nth-child(2) {
            margin-top: 2%;
        }

        padding: 4% 6%;

        &.primary {
            background: var(--fogra);
        }

        &.secondary {
            background: var(--duble);
        }
    }
}

.two-column-row {
    display: flex;
    padding: 1.2vw 0;

    .column {
        flex: 50%;
        width: 50%;
        padding: 1.1vw;

        &:first-child {
            text-align: right;
        }

        &:last-child{
            text-align: left;
        }

        .title {
            font-size: 1.75vw;
            font-weight: 500;
            color: var(--magnolia);
        }

        .description {
            margin-top: 1.2vw;
            opacity: .75;
        }
    }
}

.graph {
    .chart-container {
        position: relative;
    }
}

.formulary {

    * {
        font-family: 'Montserrat', sans-serif;
    }

    &.half75 {
        width: 50%;
        padding: 0 25%;
    }

    .label {
        display: block;
        width: 100%;
        opacity: .5;
        font-weight: 600;
        font-size: .9vw;
        
        &:not(:first-child) {
            margin-top: .75vw; 
        }
    }

    input {
        border-radius: .4vw;
        outline: none;
        border: none;

        width: 100%;
        padding: .5vw 2vw;
        margin-top: .35vw;
        font-size: .8vw;
        font-weight: 500;
        color: var(--magnolia);
        background: var(--fogra);
    }

    .btn-line {
        margin-top: 1.25vw;
        .btn {
            padding: .35vw 1.2vw;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: .75;
    }
}
