@import "./variables.scss";

.dark-theme {
    --magnolia: #F9F5FF;
    --fogra: #0A0A0A;
    --duble: #121212;
    --eerie: #222222;
}

.light-theme {
    --magnolia: #0A0A0A;
    --fogra: #fff;
    --duble: #f6f6f6;
    --eerie: #f6f6f6;
}

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 16px;
}

/*::-webkit-scrollbar-track {
}*/

::-webkit-scrollbar-thumb {
    background: var(--magnolia);
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;
}