@import "./variables.scss";

*, *::after, *::before {
    -webkit-user-drag: none;

    color: var(--magnolia) default;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $ff-primary;
    margin: 0;

    background: var(--fogra);
    color: var(--magnolia);
}

h1, h2, h3 {
    margin: 0;
    font-weight: $ff-weight-bold;
}

h1 {
    font-size: $ff-size-primary;
}

h2, h3 {
    font-size: $ff-size-primary2;
}

p, ul, a, button, li, input {
    font-size: $ff-size-secondary;
    line-height: $ff-line-height-primary;
    font-weight: $ff-weight-primary;

    color: var(--magnolia);
}

input {
    outline: none;
    border: none;
    font-weight: $ff-weight-semi;
}

a {
    color: var(--magnolia);
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    display: block;
}